{{#each posts as |post| }}
<div class="box">
  <a href="/post/{{post.id}}">{{post.title}}</a>
  <p>Created by {{post.user.username}} on {{format_date post.date_created}}</p>
  <p>{{post.content}}</p>
</div>
{{/each}}
